/* For the expired workflow state for anonymous users 
 * - copied from members.css
 */
.state-expired {
    color: Red !important;
}

/* some basic styles for PMR2 */

#pmr1_ex_header dl {
  width: 48%
}

#pmr1_ex_header ul {
  margin: 0;
  padding: 0;
}

#pmr1_ex_header li {
  display: block;
  clear: both;
}

#pmr1_ex_header #pmr1_curation {
  float: left; 
}

#pmr1_curation span {
  clear: both;
  display: block;
  float: left;
  line-height: 20px;
  width: 150px;
}

#pmr1_curation img {
  vertical-align: middle;
  float: left;
}

#pmr1_download {
  float: right; 
  line-height: 20px;
}

.exposure-nav {
  max-height: 25em;
  overflow: auto;
}

.pmr1-folder-listing img {
    vertical-align: bottom;
}

.pmr1-folder-listing dt {
    margin: 0;
    margin-top: 0.4em;
}

#cellml-mathml {
    overflow: auto;
    height: 400px;
}

math > mrow {
    display: block !important;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    /* firefox bug - it doesn't know the width so it doesn't wrap. */
    width: 0;  
    font-size: 100%;
}

/* styles for the mathjax plugin */

#mathjax-render .eq {
    overflow: auto;
}

/* styles for the shjs plugin */
#shjs-view {
    border: 1px #ccc solid;
}

#shjs-view div {
    overflow: auto;
    height: 60em;
    width: 100%;
}

#shjs-view pre {
    color: #000;
    background: #fff;
    padding: 0.5em;
    border: 0;
}

.math > .mrow {
    display: block;
}
